/* COFFEE BEANS Photo by Juan Pablo Serrano Arenas from Pexels */
/* BEER CHEERS Photo by ELEVATE from Pexels */
/* PIZZA Photo by Brett Jordan from Pexels */

/* Small (smaller than 640px) */
/* Medium (641px to 1007px) */
/* Large (1008px and larger) */

:root {
  --primary-color: white;
  --primary-contrast-color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

header > a:first-child {
  margin-left: 10px;
}

header nav {
  display: none;
}

/* NAV LINKS */

.nav-links {
  text-decoration: none;
}

/* HAMBURGER */

.hamburger {
  color: var(--primary-color);
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
}

.hamburger > label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.hamburger-input {
  display: none;
}

.hamburger-icon {
  width: 20px;
}

.hamburger-icon:after,
.hamburger-icon:before,
.hamburger-line {
  content: '';
  display: block;
  height: 2px;
  margin: 3px 0;

  border-radius: 3px;
  background-color: black;
}

/* HAMBURGER TRANSITIONS */

.hamburger-input + label .hamburger-line {
  transition: all 0.2s ease-in-out;
}
.hamburger-input + label .hamburger-icon:before {
  transition: all 0.2s ease-in-out 0.1s;
}
.hamburger-input + label .hamburger-icon:after {
  transition: all 0.2s ease-in-out 0.2s;
}

/* HAMBURGER RADIO BUTTON CHECKED */

.hamburger-input:checked + label .hamburger-line {
  transform: translateX(200%);
}
.hamburger-input:checked + label .hamburger-icon:before {
  transform: translateY(5px) rotate(45deg);
}
.hamburger-input:checked + label .hamburger-icon:after {
  transform: translateY(-5px) rotate(-45deg);
}

.hamburger-input:checked + label + .sidebar {
  z-index: 100;
  top: 10vh;
  height: 90vh
}

.hamburger-input:checked + label + .sidebar .nav-links {
  margin: 20px 0;
}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10vh;
  left: 0;
  height: 0vh;
  width: 100vw;
  overflow: hidden;

  background-color: #a3a3a3;

  transition: top 0s linear;
  transition: height 1s ease-out;
}

.sidebar .nav-links {
  color: var(--primary-contrast-color);
  margin: 0;
  transition: all 1s linear;

}

/* MAIN */

main {
  min-height: 100vh;
}

img {
  max-width: 100vw;
}


/* Small (smaller than 640px) */
/* Medium (641px to 1007px) */
/* Large (1008px and larger) *