*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: white;
  --primary-bcg-color: #6e3719;
  --primary-font-size: 12px;
  --primary-font-diff: 4px;
  --coffee-width: 150px;
  --anim-top-start: -150px;
  --anim-top-step: 20px;
}

html {
  color: var(--primary-color);
  font-size: var(--primary-font-size);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background: var(--primary-bcg-color);
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--primary-bcg-color);

  box-shadow: 0px 0px 16px 1px #fafafa;
  z-index: 1;
}

.hero::after {
  content: '';
  background-image: url('coffee-beans-large.jpg');
  background-position: center;
  border-radius: 10px;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero-section {
  position: relative;
  max-width: 100%;
}

.hero-section > h1,
.hero-section > h2 {
  margin: 30px 30px;
  padding: 0.5em 1em;
  border: 1px solid var(--primary-bcg-color);
  border-radius: 10px;
  background-color: #6e3719dc;
}

.hero-section > h1 {
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  display: inline-block;
}

.hero-section > h2 {
  font-size: 1.2em;
}

.hero-section > button {
  font-weight: 700;
  padding: 1rem 2rem;
  position: absolute;
  color: var(--primary-bcg-color);
  border: 1px solid var(--primary-bcg-color);
  border-radius: 20px;
  box-shadow: 0px 0px 16px 2px #9e5128;
  background-color: var(--primary-color);
  text-decoration: none;
  margin: 0 30px;
  cursor: pointer;
  transition: all 0.5s linear;
}

.hero-section > button:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 16px 2px var(--primary-color);
}

.social-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  top: 10px;
}

.social-icons > a {
  color: inherit;
  margin: 0 10px;
  transition: all 0.5s linear;
}

.social-icons > a:active,
.social-icons > a:focus,
.social-icons > a:hover {
  opacity: 0.5;
  border: none;
}

.coffee-cup {
  position: absolute;
  right: 0.5%;
  bottom: 3%;
}

.coffee-cup > img {
  width: var(--coffee-width);
}

.steam {
  position: relative;
  bottom: 200px;
  top: -50px;
  left: 50%;
  animation: steam 5s linear infinite 3s;
}
.steam:before,
.steam:after {
  content: ' ';
  position: absolute;
  top: 0;
  border-right: 0px solid transparent;
  border-top: 2px solid #d6d2d2;
  border-left: 5px solid #d6d2d2;
  border-bottom: 2px solid transparent;
  width: 40px;
  height: 70px;
  z-index: 4;
  border-radius: 80% 0 10% 10%;
  transform: rotate(168deg) skewY(10deg);
  filter: blur(7px);
}

.steam:after {
  top: 40px;
  left: -35px;
  z-index: 4;
  border-radius: 80% 0 10% 10%;
  transform: rotate(315deg) skewY(10deg);
  filter: blur(7px);
}

@keyframes steam {
  0% {
    top: calc(var(--anim-top-start) + (5 * var(--anim-top-step)));
    opacity: 0;
    visibility: visible;
  }
  20% {
    top: calc(var(--anim-top-start) + (4 * var(--anim-top-step)));
    opacity: 1;
  }
  40% {
    top: calc(var(--anim-top-start) + (3 * var(--anim-top-step)));
    opacity: 1;
  }
  60% {
    top: calc(var(--anim-top-start) + (2 * var(--anim-top-step)));
    opacity: 1;
  }
  80% {
    top: calc(var(--anim-top-start) + (1 * var(--anim-top-step)));
    opacity: 1;
  }
  100% {
    top: var(--anim-top-start);
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(var(--primary-font-size) + var(--primary-font-diff) / 2) *
      320px / 680;
  }

  .hero-section {
    position: relative;
    max-width: 90%;
  }

  .hero-section > h1,
  .hero-section > h2 {
    margin: 40px 40px;
  }

  .hero-section > h2 {
    font-size: 1.2em;
  }

  .hero-section > button {
    margin: 0 40px;
  }

  .coffee-cup {
    position: absolute;
    bottom: 5%;
    right: 7.5%;
  }

  .coffee-cup > img {
    width: calc(var(--coffee-width) + 25px);
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: calc(var(--primary-font-size) + var(--primary-font-diff) / 2) *
      600px / 400;
  }

  .hero {
    height: 90%;
    width: 90%;
    border: 1px solid var(--primary-bcg-color);
    border-radius: 10px;
  }

  .hero-section {
    position: relative;
    max-width: 80%;
  }

  .hero-section > h1,
  .hero-section > h2 {
    margin: 60px 40px 40px;
  }

  .hero-section > h1 {
    font-size: 3em;
  }

  .hero-section > h2 {
    font-size: 1.2em;
  }

  .hero-section > button {
    margin: 0 40px;
  }

  .coffee-cup {
    position: absolute;
    bottom: 5%;
    right: 7.5%;
  }

  .coffee-cup > img {
    width: calc(var(--coffee-width) + 25px);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(var(--primary-font-size) + var(--primary-font-diff));
  }

  .hero {
    height: 90%;
    width: 90%;
  }

  .hero-section {
    position: relative;
    max-width: 50%;
  }

  .hero-section > h1,
  .hero-section > h2 {
    margin: 70px 50px 50px;
  }

  .hero-section > button {
    margin: 0 50px;
  }

  .coffee-cup {
    position: absolute;
    bottom: 7.5%;
    right: 10%;
  }

  .coffee-cup > img {
    width: calc(var(--coffee-width) + 50px);
  }
}
