*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.8rem;
  font-family: 'Roboto Mono', monospace;
  background: rgba(0, 212, 255, 0.8);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0.6) 1%,
    rgba(9, 9, 121, 0.6) 72%,
    rgba(0, 212, 255, 0.6) 98%
  );
}

.home h1,
.home h2 {
  padding: 8px 16px;
}

.home h1 {
  text-align: center;
}

.home a {
  color: inherit;
  text-decoration: none;
}

.home header,
.home footer {
  margin: 16px 0 0px;
  padding: 8px 16px;
}

.home section > header {
  color: white;
  background: rgba(9, 9, 121, 0.8);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 0.6) 1%,
    rgba(0, 212, 255, 0.6) 72%,
    rgba(9, 9, 121, 0.6) 98%
  );
}

.home nav {
  margin: 8px 0;
}

.home nav a {
  margin: 0 8px;
  padding: 4px 8px;
  border: 2px solid black;
}

.home section {
  max-height: 100%;
  max-width: 100vw;
}
.home section header a h2 {
  display: inline-block;
}

#coffee-shop header a h2 {
  border: 2px solid white;
}
#bar header a h2 {
  border: 2px solid white;
}

.home iframe {
  /* margin: 16px 0; */
  height: 100vh;
  width: 100%;
  border: none;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
