main {
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
}

/* NAVIGATION MANUAL */
.navigation-manual {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -5vh;
}

.manual-btn {
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--primary-color);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* NAVIGATION AUTOMATIC*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 75vh;
}

.navigation-auto div {
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--primary-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--primary-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--primary-color);
}

@media only screen and (min-width: 640px) {
  .slide img {
    height: 100%;
    object-fit: cover;
  }
}
